@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fall {
  0% { transform: translateY(-10vh) translateX(0); opacity: 0; }
  10% { opacity: 0.8; }
  100% { transform: translateY(110vh) translateX(20px); opacity: 0; }
}

.snap-container {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.snap-container::-webkit-scrollbar { display: none; }

.snap-section {
  height: 100dvh;
  min-height: 100dvh;
  scroll-snap-align: start;
  scroll-snap-stop: always; /* 한 칸씩만 넘어가게 */
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}